/* Estilo básico da tabela */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  white-space: nowrap; /* Impede a quebra de texto em células */
}

table, th, td {
  border: 1px solid #ddd;
}

/* Estilo do cabeçalho da tabela */
th {
  background-color: #f2f2f2;
  color: #333;
}

/* Estilo das células da tabela */
th,td {
  padding: 8px;
  text-align: left;
}

/* Cor nas linhas alternadas para facilitar a leitura */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo quando passa o mouse sobre uma linha */
tr:hover {
  background-color: #ddd;
}

